.toggleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    background-color: #F8F9FF;
    padding: 14px 0;
    border-radius: 8px;
}

.toggleInput {
    display: none;
}

.toggleLabel {
    position: relative;
    width: 38px;
    height: 20px;
    background-color: #022959;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 24px;

}

.toggleButton {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.toggleInput:checked+.toggleLabel .toggleButton {
    animation-name: slideToRight;
}

.toggleInput:not(:checked)+.toggleLabel .toggleButton {
    animation-name: slideToLeft;
}

@keyframes slideToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(18px);
    }
}

@keyframes slideToLeft {
    0% {
        transform: translateX(18px);
    }

    100% {
        transform: translateX(0);
    }
}

.toggleContainer span {
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.inactiveText {
    color: #9699AA;
}

.activeText {
    color: #022959;
}