.container {
    max-width: 940px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    background-color: #EFF5FF;
    border-radius: 15px;
    box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.10);
    margin-top: 100px;
}