.btnConfirm {
    background-color: #483EFF;
    border: none;
    width: 123px;
    height: 48px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    transition: background-color 0.3s ease-in-out;
    margin-left: auto;
}

.btnConfirm:hover,
.btnConfirm:focus {
    background-color: #928CFF;
    cursor: pointer;
}