.visuallyHidden {
    display: none;
}

.visuallyHidden:checked+.inputPlaceholder {
    border: 1px solid #483EFF;
    background-color: #F8F9FF;
}

.visuallyHidden:checked+.inputPlaceholder .checkboxPlaceholder {
    background-color: #483EFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='9' viewBox='0 0 12 9'%3E%3Cpath fill='none' stroke='%23FFF' stroke-width='2' d='m1 4 3.433 3.433L10.866 1'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}