@import "modern-normalize/modern-normalize.css";


* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}


body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EFF5FF;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}