.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.title {
    font-weight: 500;
    font-size: 48;
    text-align: center;
    color: white;
    margin-top: 300px;
}

.emoji {
    font-size: 100px;
}